 body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #f2f2f2;
      font-family: Arial, sans-serif;
    }

    .card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
     gap: 20px;
  padding: 20px;
   
}
    .card {
      width: 300px;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      text-align: center;
      padding: 20px;
    }

    .card img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 15px;
    }

    .card h2 {
      margin: 10px 0;
    }

    .card p {
      font-size: 14px;
      color: #666;
      margin-bottom: 20px;
    }

    .card button {
      padding: 10px 20px;
      border: none;
      border-radius: 25px;
      background: linear-gradient(135deg, #6a11cb, #2575fc);
      color: white;
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s;
    }

    .card button:hover {
      transform: translateY(-5px);
  transition: 0.3s;
    }

 @media screen and  (max-width: 900px) {
      .card-container {
        grid-template-columns: 1fr 1fr;
      }
    }
     @media screen and   (max-width: 600px) {
      .card-container {
        grid-template-columns: 1fr;
      }
    }
    @media screen and  (max-width: 500px) {
      .card {
        width: 90%;
      }
    }